/* You can add global styles to this file, and also import other style files */

.margin-0 {
    margin: 0 !important;
}

.bg-white {
    background-color: #ffffff;
}

.bg-gray {
    background-color: #f2f2f2;
}

.text-gray {
    color: #5c5c5c;
}

.text-gray-l {
    color: #b9b9b9;
}

.font-b {
    font-weight: bold;
}

.font-n {
    font-weight: normal;
}

.vertical-align {
    display: flex;
    align-items: center;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #b9b9b9 !important;
    font-style: italic;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #b9b9b9 !important;
    font-style: italic;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #b9b9b9 !important;
    font-style: italic;
}

.border {
    border: 1px solid #dee2e6;
}